# ====================== ARQUIVOS GERADOS ======================
HELP.md
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar

# ====================== IDEs ======================
### IntelliJ IDEA ###
.idea/
*.iml
*.iws
*.ipr
out/

### STS / Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

# ====================== ARQUIVOS SENSÍVEIS (.env / Senhas) ======================
.env
**/.env
src/test/resources/.env
src/test/resources/application-local.yml